body{
    background-color: #2D4F32;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

/* ZA LOGIN.html */

#middlebox{
    background-color: #1E3622;
    border-radius: 25px;
    padding: 25px;
    width: 60vh;
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}


#loginbox {
    width: 100%;
}

label {
    color: #F9ECD2;
    font-weight: bold;
    font-size: 0.85em;
    margin-bottom: 5px;
}

#loginbox hr {
    border: 0;
    border-top: 1px solid #78AE45;
    margin: 20px 0;
}

.registration-link {
    text-align: center;
    font-size: 0.9em;
    color: #F9ECD2;
}

.registration-link a {
    color: #E8C14B;
    text-decoration: none;
    font-weight: bold;
}

.registration-link a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #78AE45;
    background-color: #FDF8EE;
}

button {
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #52A742;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #47704C;
}

/* Za REGISTRACIJA.html */

#srednji-okvir {
    background-color: #1E3622;
    border-radius: 25px;
    padding: 25px;
    width: 60vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.logo-slika {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 20px auto;
}

#obrazac-kontejner {
    width: 100%;
}

.obavijesti-kontejner {
    width: 100%;
    margin-bottom: 10px;
}

.tekst-greske {
    color: #F44336;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    margin: 5px 0;
}

#obrazac-kontejner label {
    display: block;
    color: #F9ECD2;
    font-weight: bold;
    font-size: 0.85em;
    margin-bottom: 5px;
    margin-top: 10px;
}

#obrazac-kontejner input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #78AE45;
    background-color: #FDF8EE;
    color: #1A0505;
    font-weight: bold;
}

.glavni-gumb {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #52A742;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.glavni-gumb:hover {
    background-color: #47704C;
}

.razdjelnica {
    border: 0;
    border-top: 1px solid #78AE45;
    margin: 20px 0;
    width: 100%;
}

.donji-link {
    text-align: center;
    font-size: 0.9em;
    color: #F9ECD2;
}

.donji-link a {
    color: #E8C14B; /* Zlatna boja linka */
    font-weight: bold;
    text-decoration: none;
}

.donji-link a:hover {
    text-decoration: underline;
}

.cekaonica {
    background-color: #f9cd2a;
}

/*Lobby*/

.lobby-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9ecd2;
}

.lobby-box {
    background-color: #d3c8b2;
    padding: 40px;
    border-radius: 20px;
    width: 450px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.stats-box {
    background-color: #fdfdfd;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logout {
    margin-top: 20px;
    text-align: right;
}

.logout-btn {
    text-decoration: none;
    color: #5d5444;
    font-weight: bold;
}

.logout-btn:hover {
    text-decoration: underline;
}


/* ZA KARTE */

/* OSNOVNI DIO ZA SVAKU KARTU */
.karta-png {
    width: 200px;
    height: 275px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    vertical-align: middle;
}

/* EFEKT ZA HOVER */
.karta-png:hover {
    transform: translateY(-15px) scale(1.05);
    box-shadow: 4px 4px 12px rgba(0,0,0,0.4);
}

/* STIL ZA GUMBOVE */
.karta-gumb {
    background: none;
    border: none;
    padding: 0;
    margin: 5px;
    outline: none;
}

.cekaonica {
    background-color: #f9ecd2;
}

.stol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.sredina {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.pozicija {
    min-width: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gore { margin-bottom: 20px; }
.dolje { margin-top: 20px; }
.lijevo { margin-right: 40px; }
.desno { margin-left: 40px; }