body{
    background-color: #f9ecd2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

#middlebox{
    background-color: #d3c8b2;
    border-radius: 25px;
    padding: 25px;
    width: 60vh;
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

#middlebox img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#loginbox {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #a39882;
    background-color: #fdfdfd;
}

button {
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #5d5444;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3e382d;
}

/*Lobby*/

.lobby-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9ecd2;
}

.lobby-box {
    background-color: #d3c8b2;
    padding: 40px;
    border-radius: 20px;
    width: 450px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.stats-box {
    background-color: #fdfdfd;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logout {
    margin-top: 20px;
    text-align: right;
}

.logout-btn {
    text-decoration: none;
    color: #5d5444;
    font-weight: bold;
}

.logout-btn:hover {
    text-decoration: underline;
}
