<!DOCTYPE html>
<html lang="hr">
    
    <head>
        
    <title>BELA APLIKACIJA</title>
    <link rel="stylesheet" href="static/style.css">  

    </head>

    <body>
        <div id="middlebox">

            <img src="FullLogo.png" alt="">

            <div id="loginbox">
                <form action="">

                    KORISNIČKO IME:
                    <input type="text" name="username">
                    LOZINKA:
                    <input type="password" name="password">
                    <button type="submit" id="prijava">PRIJAVA</button>

                </form>
            </div>

        </div>
    </body>
    
</html>