<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>BELA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div id="middlebox">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='FullLogo.png') }}" alt="Bela Logo">
        </div>

        {% with messages = get_flashed_messages(category_filter=["auth_error"]) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p class="error-text">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div id="loginbox">
            <form method="POST" action="{{ url_for('auth.checklogin') }}">
                <label for="username">KORISNIČKO IME:</label>
                <input type="text" name="username" id="username" placeholder="Unesite username" required>

                <label for="password">LOZINKA:</label>
                <input type="password" name="password" id="password" placeholder="******" required>

                <button type="submit" id="prijava">PRIJAVA</button>
            </form>

            <hr>

            <div class="registration-link">
                <p>Nemate profil? <a href="{{ url_for('auth.registracija_str') }}">Registrirajte se. :)</a></p>
            </div>
        </div>
    </div>

</body>
</html>